<%- include('./layout/header') %>
    <%- include('./components/navbar') %>
        <main>
            <div class="container-fluid">
                <div class="row">
                    <%- include('./components/aside') %>
                        <div class="col-md-10 py-3 bg-light">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="bg-white rounded shadow mb-3">
                                        <div class="uk-h4 my-0 p-3 border-bottom border-muted point-control" uk-toggle="target: #uikit-tabs-default">
                                            Tabs Default
                                            <span class="fa fa-angle-down float-right"></span>
                                        </div>
                                        <div id="uikit-tabs-default" class="p-3 uk-animation-fade">
                                            <ul class="uk-subnav uk-subnav-pill" uk-switcher="animation: uk-animation-fade">
                                                <li>
                                                    <a href="#">Item</a>
                                                </li>
                                                <li>
                                                    <a href="#">Item</a>
                                                </li>
                                                <li>
                                                    <a href="#">Item</a>
                                                </li>
                                            </ul>

                                            <ul class="uk-switcher uk-margin">
                                                <li>Hello!</li>
                                                <li>Hello again!</li>
                                                <li>Bazinga!</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="bg-white rounded shadow mb-3">
                                        <div class="uk-h4 my-0 p-3 border-bottom border-muted point-control" uk-toggle="target: #uikit-tabs-light">
                                            Tabs Light Color
                                            <span class="fa fa-angle-down float-right"></span>
                                        </div>
                                        <div id="uikit-tabs-light" class="p-3 uk-animation-fade tabs tabs-light">
                                            <ul class="nolist d-inline-flex tabs-nav" uk-switcher="animation: uk-animation-fade">
                                                <li>
                                                    <a href="#">Item</a>
                                                </li>
                                                <li>
                                                    <a href="#">Item</a>
                                                </li>
                                                <li>
                                                    <a href="#">Item</a>
                                                </li>
                                            </ul>

                                            <ul class="uk-switcher tabs-body">
                                                <li>Hello!</li>
                                                <li>Hello again!</li>
                                                <li>Bazinga!</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="bg-white rounded shadow mb-3">
                                        <div class="uk-h4 my-0 p-3 border-bottom border-muted point-control" uk-toggle="target: #uikit-tabs-danger">
                                            Tabs Danger Color
                                            <span class="fa fa-angle-down float-right"></span>
                                        </div>
                                        <div id="uikit-tabs-danger" class="p-3 uk-animation-fade tabs tabs-danger">
                                            <ul class="nolist d-inline-flex tabs-nav" uk-switcher="animation: uk-animation-fade">
                                                <li>
                                                    <a href="#">Item</a>
                                                </li>
                                                <li>
                                                    <a href="#">Item</a>
                                                </li>
                                                <li>
                                                    <a href="#">Item</a>
                                                </li>
                                            </ul>

                                            <ul class="uk-switcher tabs-body">
                                                <li>Hello!</li>
                                                <li>Hello again!</li>
                                                <li>Bazinga!</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="bg-white rounded shadow mb-3">
                                        <div class="uk-h4 my-0 p-3 border-bottom border-muted point-control" uk-toggle="target: #uikit-tabs-success">
                                            Tabs Success Color
                                            <span class="fa fa-angle-down float-right"></span>
                                        </div>
                                        <div id="uikit-tabs-success" class="p-3 uk-animation-fade tabs tabs-success">
                                            <ul class="nolist d-inline-flex tabs-nav" uk-switcher="animation: uk-animation-fade">
                                                <li>
                                                    <a href="#">Item</a>
                                                </li>
                                                <li>
                                                    <a href="#">Item</a>
                                                </li>
                                                <li>
                                                    <a href="#">Item</a>
                                                </li>
                                            </ul>

                                            <ul class="uk-switcher tabs-body">
                                                <li>Hello!</li>
                                                <li>Hello again!</li>
                                                <li>Bazinga!</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="bg-white rounded shadow mb-3">
                                        <div class="uk-h4 my-0 p-3 border-bottom border-muted point-control" uk-toggle="target: #uikit-tabs-info">
                                            Tabs Info Color
                                            <span class="fa fa-angle-down float-right"></span>
                                        </div>
                                        <div id="uikit-tabs-info" class="p-3 uk-animation-fade tabs tabs-info">
                                            <ul class="nolist d-inline-flex tabs-nav" uk-switcher="animation: uk-animation-fade">
                                                <li>
                                                    <a href="#">Item</a>
                                                </li>
                                                <li>
                                                    <a href="#">Item</a>
                                                </li>
                                                <li>
                                                    <a href="#">Item</a>
                                                </li>
                                            </ul>

                                            <ul class="uk-switcher tabs-body">
                                                <li>Hello!</li>
                                                <li>Hello again!</li>
                                                <li>Bazinga!</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="bg-white rounded shadow mb-3">
                                        <div class="uk-h4 my-0 p-3 border-bottom border-muted point-control" uk-toggle="target: #uikit-tabs-dark">
                                            Tabs Dark Color
                                            <span class="fa fa-angle-down float-right"></span>
                                        </div>
                                        <div id="uikit-tabs-dark" class="p-3 uk-animation-fade tabs tabs-dark">
                                            <ul class="nolist d-inline-flex tabs-nav" uk-switcher="animation: uk-animation-fade">
                                                <li>
                                                    <a href="#">Item</a>
                                                </li>
                                                <li>
                                                    <a href="#">Item</a>
                                                </li>
                                                <li>
                                                    <a href="#">Item</a>
                                                </li>
                                            </ul>

                                            <ul class="uk-switcher tabs-body">
                                                <li>Hello!</li>
                                                <li>Hello again!</li>
                                                <li>Bazinga!</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </main>
        <%- include('./layout/footer') %>