<aside class="col-md-2 bg-white px-1 py-md-3 position-relative rounded shadow nodesk">
    <div id="aside" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar p-0">
            <div class="d-block text-center mb-3">
                <img src="" alt="" data-src="./dist/images/avatar.png" uk-img="" width="65" height="65" class="mx-auto uk-border-circle">
            </div>
            <div class="d-block text-center point-control mb-3" uk-toggle="target: #profile-nav; animation: uk-animation-fade">
                <span class="text-dark">Ghinlop Desiger
                    <i class="fa fa-angle-down"></i>
                </span>
                <small class="uk-text-small d-block text-muted">Ghinlop@gmail.com</small>
            </div>
            <div id="profile-nav" class="px-2 w-100 mb-3" hidden>
                <ul class="nolist w-100 bg-dark uk-border-rounded w-100">
                    <li>
                        <a href="/">
                            <i class="fa fa-user"></i>
                            <span>View Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-cog"></i>
                            <span>Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-sign-out"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-block px-2">
                <ul class="nolist uk-border-rounded bg-dark">
                    <li>
                        <a href="/">
                            <i class="fa fa-home"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#input-1" uk-toggle="animation: uk-animation-fade">
                            <i class="fa fa-home"></i>
                            <span>Input</span>
                        </a>

                        <ul id="input-1" class="nolist" hidden>
                            <li>
                                <a href="./input-bootstrap.html">Input Bootstrap</a>
                            </li>
                            <li>
                                <a href="./input-uikit.html">Input UIKit</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="./tabs.html">
                            <i class="fa fa-home"></i>
                            <span>Tabs</span>
                        </a>
                    </li>
                    <li>
                        <a href="./modals.html">
                            <i class="fa fa-home"></i>
                            <span>Modals</span>
                        </a>
                    </li>
                    <li>
                        <a href="./label.html">
                            <i class="fa fa-home"></i>
                            <span>Labels</span>
                        </a>
                    </li>
                    <li>
                        <a href="./checkbox.html">
                            <i class="fa fa-home"></i>
                            <span>Checkbox</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>